/* Globals */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
}

#card {
    background: white;
    max-width: max-content;
    height: 373px;
    padding: 0;
    margin: 173px auto;
    display: block;
    border-radius: 15px;
}

img {
    margin: auto;
    border-radius: 15rem;
    
}

#img_profile {
    margin: auto;
    margin-top: -53px;
    max-width: max-content;
    display: block;
    
}

#bg-pattern-card {
    border-radius: 15px 15px 0 0;
}

#profile {
    display: flex;
    margin-left: 110px;
    margin-top: 28px;
    width: 140px;
}

#name {
    font-weight: 700;
    color: hsl(229, 23%, 23%);
    padding-right: 10px;
}

#age {
    color: hsl(227, 10%, 46%);
}

#city {
    font-size: 14px;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    margin: 20px 150px 0px;
    padding-bottom: 30px;
}

footer {
    height: 80px;
}

#footer {
    border-top: 1px solid;
    border-color: hsl(0, 0%, 89%);
    height: 90px;
    display: flex;
    justify-content: space-around;
    
}

.footer-son {
    margin-top: 20px;
    
}

.score {
    font-size: 17px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
    margin-bottom: 5px;
}

.subtitle {
    font-size: 11px;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}

.footer-son.likes {
    margin-left: -15px;
    
}










